.map-container {
  height: 400px;
  position: relative;
  }

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 2px 4px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  border-radius: 4px;
  }

  .marker {
    background-image: url('../../public/mapbox-icon.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
